html, body {
	height: 100%;
}

.footer, .push {
	height: 40px;
}

.push {
	margin-top: 100px;
}

.spacing {
	min-height: 100px;
}

.main {
	width: 100%;
	display: block;
	min-height: 100%;
	margin: 0 auto -40px;
}

.google-logo-container {
	margin: 150px auto 0px auto;
    width: 300px;
    height: 93px;
}

.country-container {
    margin-left: 230px;
    margin-top: -15px;
}

.country-container p {
    font: 16px roboto-regular, arial, sans-serif;
    color: #4285f4;
}

.google-logo {
	width: 272px;
	height: 92px;
	margin: auto;
	display: block;
}

.voice-logo-container {
	border: 1px solid black;
	width: 8%;
	margin: auto;
}

.voice-logo {
	margin: auto;
	display: inline;
	width: 90%;
	font: 16px arial,sans-serif;
	padding: 0;
	border: 0;
}

.navbar {
	height: 50px;
}

.footer {
	width: 100%;
	overflow: hidden;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.footer-right {
	height: 35px;
	margin-top: 10px;
	margin-right: 5px;
	position: inline;
	float: right;
}

.footer-left {
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	position: inline;
	float: left;
}

.footer-list {
	display: inline;
	margin: 15px;
}

.footer-link {
	display: inline;
	font: 13px arial, sans-serif;
	color: #666;
	text-decoration: none;
}

.footer-link:hover{
	text-decoration: underline;
}

.search-area {
	width: 550px;
	margin: 35px auto;
	box-shadow: 0 2px 2px #c5c5c5;
	border: 1px solid #eee;
	border-radius: 1px;
}

.search-area:hover {
	box-shadow: 0 2px 4px #b5b5b5;
}

.search-text-box {
	display: inline-block;
	width: 87%;
	margin: 4px 0px 4px 16px;
}

.search-text-box input {
	font: 16px arial,sans-serif;
	border: 0;
	line-height: 36px;
	cursor: text;
}

.search-text-box input:focus {
	outline: none;
	width: 100%;
}

.search-voice {
	width: 5%;
	display: inline-block;
	vertical-align: middle;
}

.search-voice img {
	height: 24px;
}

.button-area {}

.button-form {
    text-align: center;
}

.search-button {
    height: 36px;
    width: 130px;
    background-color: #f5f5f5;
    color: #757575;
    border: none;
	border-radius: 2px;
    font: bold 13px arial, sans-serif;
    margin: 0 5px;
}

.search-button:hover {
    border: 1px solid #c6c6c6;
	box-shadow: 0 0px 1px #b5b5b5;
    color: black;
}

.search-button:focus {
    outline-width: 0;
    border: 1px solid #4d90fe;
    color: black;
}
