.main {
	width: 100%;
	margin: 100px 0;
	display: block;
}

.google-logo-container {
	margin: auto;
}

.google-logo {
	width: 272px;
	height: 92px;
	margin: auto;
	display: block;
}

.voice-logo-container {
	border: 1px solid black;
	width: 8%;
	margin: auto;
}

.voice-logo {
	margin: auto;
	display: inline;
	width: 90%;
	font: 16px arial,sans-serif;
	padding: 0;
	border: 0;
}

.navbar {
	border: 1px dashed grey;
	width: 100%;
	height: 100px;
}

.footer {
	border: 1px dashed grey;
	width: 100%;
	height: 100px;
	clear: both;
}

.search-area {
	width: 550px;
	margin: 30px auto;
	box-shadow: 0 2px 2px #c5c5c5;
	border: 1px solid #eee;
	border-radius: 1px;
}

.search-area:hover {
	box-shadow: 0 2px 4px #b5b5b5;
}

.search-text-box {
	display: inline-block;
	width: 90%;
	margin: 4px 0px 4px 16px;
}

.search-text-box input {
	font: 16px arial,sans-serif;
	border: 0;
	line-height: 36px;
	cursor: text;
}

.search-text-box input:focus {
	outline: none;
	width: 100%;
}

.search-voice {
	width: 5%;
	display: inline-block;
	vertical-align: middle;
}

.search-voice img {
	height: 24px;
}